<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Lista de Empleados</h2>
    <a href="/agregar_empleado" class="btn btn-primary mb-3">Agregar Nuevo Empleado</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Dirección</th>
                <th>Área</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.dniEmpleado}"></td>
                <td th:text="${empleado.nombreEmpleado}"></td>
                <td th:text="${empleado.apellidoEmpleado}"></td>
                <td th:text="${empleado.fechaNacimiento}"></td>
                <td th:text="${empleado.direccion}"></td>
                <td th:text="${empleado.area.nombre_area}"></td>
                <td>
                    <a th:href="@{/editar_empleado/{dni}(dni=${empleado.dniEmpleado})}" class="btn btn-warning btn-sm">Editar</a>
                    <a th:href="@{/buscar/{dni}(dni=${empleado.dniEmpleado})}" class="btn btn-info btn-sm">Buscar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
